body {
  background-image: linear=gradient(black, rgb(32, 32, 32))
}

@font-face {
  font-family: ShinGo;
  src url(assets/fontshingo/ATTFShinGoProRegular.ttf);
}

h1 {
  color: black;
  /*margin-left: 20px;*/
}

p {
  color: white;
  font: ShinGo
}